In [133]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [134]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bagotville,AU,2021-02-06 05:38:27,-28.9833,153.4167,302.15,69,74,5.14
1,1,Padang,ID,2021-02-06 05:38:27,-0.9492,100.3543,305.15,62,20,2.06
2,2,Rikitea,PF,2021-02-06 05:38:27,-23.1203,-134.9692,298.54,74,34,7.35
3,3,Rosetown,CA,2021-02-06 05:38:28,51.5501,-108.0014,243.15,69,47,4.12
4,4,Ingham,US,2021-02-06 05:38:28,42.6000,-84.3833,264.15,79,90,3.60

In [135]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [136]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
temperatures = city_data_df['Max Temp'] # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=400, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [137]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [138]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [139]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=20, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [140]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 220
What is the maximum temperature you would like for your trip? 260

In [141]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rosetown,CA,2021-02-06 05:38:28,51.5501,-108.0014,243.15,69,47,4.12
17,17,Barrow,US,2021-02-06 05:36:32,71.2906,-156.7887,250.15,77,90,2.57
21,21,Saskylakh,RU,2021-02-06 05:38:29,71.9167,114.0833,235.83,82,74,1.66
26,26,Igrim,RU,2021-02-06 05:38:30,63.1906,64.4162,252.94,92,100,5.30
34,34,Saint Anthony,US,2021-02-06 05:33:40,45.0205,-93.2180,258.15,66,1,5.14
37,37,Yellowknife,CA,2021-02-06 05:35:03,62.4560,-114.3525,234.82,74,20,2.06
41,41,Fort Nelson,CA,2021-02-06 05:38:31,58.8053,-122.7002,241.15,68,75,1.54
43,43,Svetlogorsk,BY,2021-02-06 05:38:32,52.6333,29.7333,258.86,94,77,2.72
57,57,Ayan,RU,2021-02-06 05:38:34,56.4500,138.1667,252.78,82,100,6.25
68,68,Tuktoyaktuk,CA,2021-02-06 05:38:35,69.4541,-133.0374,239.15,75,75,3.09

In [142]:
preferred_cities_df.count()

City_ID       75
City          75
Country       75
Date          75
Lat           75
Lng           75
Max Temp      75
Humidity      75
Cloudiness    75
Wind Speed    75
dtype: int64

In [143]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3        Rosetown      CA    243.15  51.5501 -108.0014
17         Barrow      US    250.15  71.2906 -156.7887
21      Saskylakh      RU    235.83  71.9167  114.0833
26          Igrim      RU    252.94  63.1906   64.4162
34  Saint Anthony      US    258.15  45.0205  -93.2180
37    Yellowknife      CA    234.82  62.4560 -114.3525
41    Fort Nelson      CA    241.15  58.8053 -122.7002
43    Svetlogorsk      BY    258.86  52.6333   29.7333
57           Ayan      RU    252.78  56.4500  138.1667
68    Tuktoyaktuk      CA    239.15  69.4541 -133.0374

In [147]:
# Set parameters to search for a hotel.
params = {
    "radius": 10000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [148]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Rosetown,CA,243.15,51.5501,-108.0014,Travelodge by Wyndham Rosetown
17,Barrow,US,250.15,71.2906,-156.7887,King Eider Inn
21,Saskylakh,RU,235.83,71.9167,114.0833,
26,Igrim,RU,252.94,63.1906,64.4162,Obshchezhitiye Uchebno-Proizvodstvennogo Tsentra
34,Saint Anthony,US,258.15,45.0205,-93.2180,Days Hotel by Wyndham University Ave SE

In [149]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [150]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [152]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [153]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))